body 
{
  background-image:url("../img/background.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  font-family: "Apple" Chancery, cursive; 
  color: #545E6C;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  
}

.sub-heading{
	color: darkgreen;
}

 /* Nav bar */
.navbar
{
	display: block;
	background-color: #4CAF50;
	text-align: center;
	margin-bottom: 1em;
	height: 4em;
}

.navbar-inverse .navbar-brand 
{
    background-color: #4CAF50;
    color: white;
}

.navbar-inverse .navbar-nav>li>a 
{
    color: white;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover
{
    display: block;
    color: #fff;
    background-color: #4CAF50;
}

/*Result nav bar*/
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    background-color: #4CAF50;
}



.nav-pills>li {
    float: left;
}
/*Result nav bar*/
.nav {
	text-align: center;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
    margin-bottom: 0;
    list-style: none;
    background-color: #4CAF50;
}

.search
{
  margin-top: 1%;
  margin-left: 10%;

}



.nav-pills>li {
    float: left;
}

/* Nav bar end*/
.jumbotron
{
  color: black;
 font-weight: bolder;
  background-color: transparent;
}

header h1
{
  margin-top: 5%;
}
	 
#References
{
  text-align: left;
}

header 
{
	margin-top: 2%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: green;
	height: 100vh;
	
}
	  
header p
{
	color: black;
	padding: 1em 10em 0em 10em;
}
  
.img-rounded 
{
     width: 50%;
	 margin-left: auto;
	 margin-right: auto;
}
	


	/* btns */
.btn-success 
{
    color: #fff;
	margin-left: auto;
	margin-right: auto;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn-footer
{
	background-color: #222222;
}

#welcomeButtons 
{
		
	display: table;
	margin: 0 auto;
}

.btn-link {
    color: #fff;
    margin-left: auto;
    background-color: #5cb85c;
    border-color: #4cae4c;
    border-radius: 15px 50px;
}

.btn-link:focus, .btn-link:hover {
    color: #fff;
    text-decoration: underline;
    background-color: #5cb85c;
}

.btn-info
{
	color: #fff;
    background-color: #4CAF50;
    border-color: #4CAF50;
    border-radius: 50%;
    margin-right: 5%;
}


.btn-info:hover
{
	color: #fff;
    background-color: #4CAF50;
    border-color: #4CAF50;
    border-radius: 50%;
    margin-right: 5%;
}
	/* btns end*/


#profile-picture
{
	width: 60%;
	margin-left: 18%;
	padding-top: 50px; 
}

ARTICLE#Article_1 
{
color: black;
}

ARTICLE#Article_2 
{
	color: black;

}

ARTICLE#Article_3 
{
	color: black;

}

ARTICLE#Article_4 
{
	color: black;
}
 /*contact page*/

a#used-site 
{
  color: #4CAF50;
}

a#myCV 
{
  color: #4CAF50;
  text-align: center;
  font-size: 38px;
  margin-left: 25%;
}


h1,h2,h3,h4 
{	
  color: black;
	font-family: "Arial Black", Gadget, sans-serif;
	text-align: center;
	text-transform: uppercase;
	letter-spacing:1px;
	padding: 10px;
}

p
 {
   color: black;
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
	font-size:16px;
  line-height:1.6em;
  text-align: left;
}

#education-text p
{
  text-align: center;
}
a
{
	color: white;
}

.jumbotron p
{
  text-align: center;
}

.bootstrap-used h4
{
   text-align: left;
}
a:hover,a:focus
{
	text-decoration:none;
	color:#26a5d3;
}


/*Contact page*/
#contact 
{
    background: transparent;
    color: #4CAF50;
    padding-bottom: 80px;
    padding-top: 80px;
}

textarea.form-control
{
    height:100px;
    
}

.btn-send{
  background-color: #4CAF50;
  color: white;
}

tr{
  color: black;
  font-weight: 800;
}

form  
{
   background-image: url('/imag/BAML.png');
    display: block;
    margin-right: 70px;
}

/*Contact page end*/

.col-md-9
{
  background-image: url("img/BAML.png)");
  margin-left: 13%;
}
	/*Footer*/
@import url('https://fonts.googleapis.com/css?family=Poppins');

body{
    font-family: 'Poppins', sans-serif;
}

.footer {
    background: transparent;
    padding: 40px 0px;
    font-weight: bolder;
    color: black;
    clear: both;
}

.footer ul{
  color: black;
    padding:0px;    
}

.footer ul li {
    margin: 10px;
}

.footer ul li a {
    color: black;
    text-decoration:none;
}

a{
  color: black;
}

.footer span {
    font-weight: 600;
    font-size: 16px;
    letter-spacing:3px;
}

.icons {
    margin: 0 auto;
    display: table;
    padding-top: 20px;
}

.icons .fa {
    font-size: 30px;
    padding: 10px;
    color: #adadad;
}
img.logo
{
  width: 50%;
  margin-left: 5%;
}

/*Images*/
button
{
  margin-top: 5%;
}
img#ITT
{
	width: 400px;
	float: left;
	margin-left: 100px;
}

img#crumlincollege
{
	width: 400px;
	float: left;
	margin-left: 100px;
	margin-top: 10px;
}

img#digitalhub
{
	width: 400px;
	float: left;
	margin-left: 100px;
}



img#scoileoin
{
	width: 400px;
	float: left;
	margin-left: 100px;
}

img#Map
{
	width: 500px;
	float: left;
	margin-left: 100px;
}

.responsive {
    width: 100%;
    height: auto;
}
/*Images end*/

/*Education section*/

#Education{
  text-align: center;
}

.education-btn{
  display: block;
  width: 100%;
  border: none;
  background-color: #4CAF50;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

/*Education section End*/

/*Font awsome*/

.fa-tv
{
	margin-bottom: 40px;
}

.fa-futbol
{
	margin-bottom: 40px;
}

.fa-headphones
{
	margin-bottom: 40px;
}

.fa-desktop
{
	margin-bottom: 40px;
}

.fa-film
{
	margin-bottom: 40px;
}

.fa-dumbbell
{
	margin-bottom: 40px;
}

.fa-angle-double-down{
  float: right;
}



/*results tables*/
.tab-content
{
	
	margin-left: auto;
	margin-right: auto;
}


.table {

	margin-left: auto;
	margin-right: auto;
    width: 60%;
    margin-bottom: 20px;
}

thead
{
	background-color: #4CAF50; 
	color: white;
}

tbody
{
  text-align: left;
}

.tab-content>.active 
{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 971px;
    margin-top: 1em
}

.tab-content>.active  td, .tab-content>.active  th 
{
    border: 1px solid #ddd;
    padding: 8px;
}

.tab-content>.active  tr:nth-child(even)
{
	background-color: #f2f2f2;
}

.tab-content>.active  tr:hover 
{
	background-color: #ddd;
}

.tab-content>.active  th 
{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}




/*results tables end*/

/*Work ex*/




.row-wexp {
	margin-left: 70px;
	margin-right: 70px;
}
/*Work ex end*/

/*Skills bars*/


.skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
	background:#eee;
	height:35px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
width:110px;
	font-weight:bold;
	font-size:13px;
	color:#ffffff;
	background:#6adcfa;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:35px;
	line-height:35px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	height:35px;
	width:0px;
	background:#6adcfa;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:35px;
	line-height:35px;
	color:#ffffff;
	color:rgba(0, 0, 0, 0.4);
}


/*Skills bars end*/

/*Intrests*/

/*Intrests End*/

/*Overlay img*/
* {
  box-sizing: border-box;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

.modal img{
  
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 60%;

  overflow: auto;

}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: black;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;

  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
  background-color: black;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
* {
  box-sizing: border-box;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
 
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
