body 
{
  font-family: 'Roboto', sans-serif;
  color: #545E6C;
  background: white;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

 /* Nav bar */
.navbar-inverse
{
	display: block;
	background-color: #4CAF50;
	text-align: center;
	position: fixed; 
	width:1000px;
    margin: auto;
}

.navbar-inverse .navbar-brand 
{
    background-color: #4CAF50;
    color: white;
}

.navbar-inverse .navbar-nav>li>a 
{
    color: white;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover
{
    display: block;
    color: #fff;
    background-color: #4CAF50;
}

/* Nav bar end*/

div.container-fluid
{
	width:1000px;
    margin-left: auto;
    margin-right: auto;
}

#aboutMe, #education, #projects, #workExp, header
{
	margin-left: 1em; 
	padding-top: 5em;
}
	  
header 
{
	color: green;
}
	  
header p
{
	color: black;
	padding: 1em 10em 0em 10em;
}
  
#profile-pickture
{
	margin-top: 40px;
	display: block;
    margin-left: 300px;
    margin-right: auto;
   	width: 20%;
   	height: 40%;
}

#pic-name
{
	width: 100%;
	margin-left: 10em;

}

.img-rounded 
{
    border-radius: 30px;
    width: 100%;
}
	}


	/* btns */
.btn-success 
{
    color: #fff;
    margin-left: .5em;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

#welcomeButtons 
{
		
	display: table;
	margin: 0 auto;
}
	/* btns end*/



article 
{
	width: 450px;
	margin-bottom: 2em;

}

article p
{
	font-size: 12px;
	padding-left: 1em;

}

ARTICLE#Article_1 
{
color: black;
float: left;
font-family:Trajan Pro;
}

ARTICLE#Article_2 
{
	color: black;
	float: left;
	margin-left: 80px;
	font-family:Trajan Pro;
}

ARTICLE#Article_3 
{
	color: black;
	float: left;
	font-family:Trajan Pro;
}

ARTICLE#Article_4 
{
	color: black;
	float: left;
	margin-left: 80px;
	font-family:Trajan Pro;

}
 /*contact page*/

h1,h2,h3 
{	
	text-transform: uppercase;
	letter-spacing:1px;
	padding: 10px;
}

p{
	font-size:12px;
	line-height:1.6em;
}

a
{
	color: white;
}

a:hover,a:focus
{
	text-decoration:none;
	color:#26a5d3;
}

/*Contact page*/
#contact 
{

    background: #333333;
    color: #f4f4f4;
    padding-bottom: 80px;

}

textarea.form-control
{
    height:100px;
    
}

form 
{
    display: block;
    margin-right: 70px;
}

/*Contact page end*/

	/*Footer*/
footer
{
	background-color: black;
	width: 1000px;
}

/*Images*/
img.ITT
{
	height: 200px;
    width: 400px;
	margin-bottom: 20px;
}

img.crumlincollege
{
	height: 200px;
    width: 400px;
    margin-bottom: 20px;
}

img.digitalhub
{
	height: 200px;
    width: 400px;
    margin-bottom: 20px;
}

img.scoileoin
{
	height: 200px;
    width: 400px;
    margin-bottom: 20px;
}


img.ITTMap
{
	height: 200px;
    width: 400px;
	margin-bottom: 20px;
}

img.crumlincollegeMap
{
	height: 200px;
    width: 400px;
    margin-bottom: 20px;
}

img.digitalhubMap
{
	height: 200px;
    width: 400px;
    margin-bottom: 20px;
}

img.ScoilEoinMap
{
	height: 200px;
    width: 400px;
    margin-bottom: 20px;
}
/*Images end*/

/*Education section*/
.Education-address
{
	float: left;
	margin: auto;
	width: 50%;
}

#education-Imgs
{
	float: left;
	margin: auto;
	width: 50%;
}

#education-text
{
	text-align: center;
	margin-right: 100px;
}

/*Education section End*/

/*Project tables*/

.tab-content>.active 
{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 971px;
    margin-top: 1em
}

.tab-content>.active  td, .tab-content>.active  th 
{
    border: 1px solid #ddd;
    padding: 8px;
}

.tab-content>.active  tr:nth-child(even)
{
	background-color: #f2f2f2;
}

.tab-content>.active  tr:hover 
{
	background-color: #ddd;
}

.tab-content>.active  th 
{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}



