body {
  font-family: 'Roboto', sans-serif;
  color: #545E6C;
  background: white;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

 /* Nav bar */
.navbar-inverse
{
	display: block;
	background-color: green;
	text-align: center;
	position: fixed; 
	width:1000px;
    margin: auto;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    display: block;
    color: #fff;
    background-color: green;
}

/* Nav bar end*/

div.container-fluid
{
	width:1000px;
    margin-left: auto;
    margin-right: auto;
}

#aboutMe, #education, #projects, #workExp, header{
		margin-left: 1em; 
		padding-top: 5em;
	}
	  
	header {
		color: green;
	}
	  
	header p{
		color: black;
		padding: 1em 10em 0em 10em;
	}
  
	#profile-pickture{
		margin-top: 40px;
		display: block;
    	margin-left: auto;
    	margin-right: auto;
   		width: 20%;
   		height: 60%
	}

	#pic-name
	{
		margin-left: 2.5em;
	}

	.img-rounded {
    border-radius: 30px;
	}


	/* btns */
	.btn-success {
    color: #fff;
    margin-left: .5em;
    background-color: #5cb85c;
    border-color: #4cae4c;
	}

	#welcomeButtons {
		
		display: table;
		margin: 0 auto;
	}
	/* btns end*/

	HTML Demo: <article> Reset
HTML   CSS

.forecast {
    margin: 0;
    padding: .3rem;
    background-color: gray;
    font: 1rem 'Fira Sans', sans-serif;
}
​
.forecast > h1,
.day-forecast {
    margin: .5rem;
    padding: .3rem;
    font-size: 1.2rem;
}
​
.day-forecast {
    background: right/contain content-box border-box no-repeat
        url('/media/examples/rain.svg') white;
}
​
.day-forecast > h2,
.day-forecast > p {
    margin: .2rem;

}

article 
{
	width: 450px;
	margin-bottom: 2em;

}

article p
{
	font-size: 12px;
	padding-left: 1em;

}

ARTICLE#Article_1 {
color: black;
float: left;
font-family:Trajan Pro;
}

ARTICLE#Article_2 {
color: black;
float: left;
margin-left: 80px;
font-family:Trajan Pro;
}

ARTICLE#Article_3 {
color: black;
float: left;
font-family:Trajan Pro;
}

ARTICLE#Article_4 {
color: black;
float: left;
margin-left: 80px;
font-family:Trajan Pro;

}
 /*contact page*/

h1,h2,h3 {	
	text-transform: uppercase;
	letter-spacing:1px;
	padding: 10px;
}

p{
	margin:0 0 25px;
	font-size:12px;
	line-height:1.6em;
}
a{
	color: white;
}
a:hover,a:focus{
	text-decoration:none;
	color:#26a5d3;
}

/*Contact page*/
#contact {

    background: #333333;
    color: #f4f4f4;
    padding-bottom: 80px;

}

textarea.form-control{
    height:100px;
    
}

form {
    display: block;
    margin-right: 70px;
}



/*Contact page end*/

#success_message{ display: none;}


	/*Footer*/
	.page-footer
	{
		background-color: black;
	}

/*Images*/
img.ITT
{
	height: 200px;
    width: 400px;
    margin-bottom: 20px
}

img.crumlincollege
{
	height: 200px;
    width: 400px;
    margin-bottom: 20px
}

img.digitalhub
{
	height: 200px;
    width: 400px;
    margin-bottom: 20px
}

img.scoileoin
{
	height: 200px;
    width: 400px;
    margin-bottom: 20px
}
/*Images end*/

.Education-address
{
	float: left;
}

#education-Imgs
{
	float: left;
	margin: auto;
	width: 50%;

}

#education-Imgs li
{

	
}